body {
  background-image: url(../img/pap-dark.png);
}

.logo {
  font-family: 'PT Mono', cursive; 
}

.logo a {
  color: rgba(255, 255, 255, .9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}